---
http_interactions:
- request:
    method: get
    uri: https://api.pathofexile.com/league/Standard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - league-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 5:10:60,10:60:300
      X-Rate-Limit-Account-State:
      - 1:10:0,1:60:0
    body:
      encoding: ASCII-8BIT
      string: '{"league":{"id":"Standard","realm":"pc","url":"https://www.pathofexile.com/ladders/league/Standard","startAt":"2013-01-23T21:00:00Z","endAt":null,"description":"The
        default game mode.","registerAt":"2019-09-06T19:00:00Z","delveEvent":true,"rules":[]}}'
  recorded_at: Tue, 31 May 2022 10:10:28 GMT
recorded_with: VCR 6.1.0
