---
http_interactions:
- request:
    method: get
    uri: https://api.pathofexile.com/leagues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - ladder-view
      X-Rate-Limit-Rules:
      - Ip,Account
      X-Rate-Limit-Ip:
      - 20:5:30,40:10:120,60:10:300
      X-Rate-Limit-Ip-State:
      - 1:5:0,1:10:0,1:10:0
      X-Rate-Limit-Account:
      - 10:5:10,20:10:30,30:10:300
      X-Rate-Limit-Account-State:
      - 1:5:0,1:10:0,1:10:0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Standard","realm":"pc","url":"https://www.pathofexile.com/ladders/league/Standard","startAt":"2013-01-23T21:00:00Z","endAt":null,"description":"The
        default game mode.","registerAt":"2019-09-06T19:00:00Z","delveEvent":true,"rules":[]},{"id":"Hardcore","realm":"pc","url":"https://www.pathofexile.com/ladders/league/Hardcore","startAt":"2013-01-23T21:00:00Z","endAt":null,"description":"A
        character killed in the Hardcore league is moved to the Standard league.","registerAt":"2019-09-06T19:00:00Z","delveEvent":true,"rules":[{"id":"Hardcore","name":"Hardcore","description":"A
        character killed in Hardcore is moved to its parent league."}]},{"id":"SSF
        Standard","realm":"pc","url":"https://www.pathofexile.com/ladders/league/SSF+Standard","startAt":"2013-01-23T21:00:00Z","endAt":null,"description":"SSF
        Standard","registerAt":"2019-09-06T19:00:00Z","delveEvent":true,"rules":[{"id":"NoParties","name":"Solo","description":"You
        may not party in this league."}]},{"id":"SSF Hardcore","realm":"pc","url":"https://www.pa[...]
