---
http_interactions:
- request:
    method: get
    uri: https://api.pathofexile.com/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"12345678-1234-abcde-kiol-a21ce222bb78","name":"fladsongomes","realm":"pc","locale":"en_US","guild":{"name":"wealthclast"},"twitch":{"name":"fladson_gomes"}}'
  recorded_at: Mon, 30 May 2022 13:16:52 GMT
recorded_with: VCR 6.1.0
